apiVersion: v1
kind: Service
metadata:
  name: dm-nkp-gitops-custom-app
  labels:
    app: dm-nkp-gitops-custom-app
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: dm-nkp-gitops-custom-app
