apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: dm-nkp-gitops-custom-app
  namespace: default
  labels:
    app: dm-nkp-gitops-custom-app
spec:
  selector:
    matchLabels:
      app: dm-nkp-gitops-custom-app
  endpoints:
    - port: metrics
      interval: 30s
      scrapeTimeout: 10s
      path: /metrics
